/.vs/DeviceManagerApi/v15/.suo
src/DeviceManagerApi/bin/
src/DeviceManagerApi/obj/
/.vs/config/applicationhost.config
src/DeviceManager.Api/bin/
src/DeviceManager.Api/obj/
test/DeviceManager.Api.UnitTests/bin/
test/DeviceManager.Api.UnitTests/obj/
.vs/
/src/DeviceManager.Api/Logs
